absl-py==2.2.2
accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
alembic==1.15.2
anyio==4.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==5.0.1
attrs==23.1.0
audioread==3.0.1
av==14.3.0
Babel==2.13.1
backoff==1.11.1
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.4
cachetools==5.5.2
certifi==2022.12.7
cffi==1.16.0
charset-normalizer==2.1.1
chex==0.1.82
click==8.1.8
codecarbon==2.8.4
colorama==0.4.6
colorlog==6.9.0
comm==0.2.0
cryptography==3.4.8
csvw==3.5.1
datasets==2.18.0
dbus-python==1.2.18
debugpy==1.8.0
decorator==5.1.1
decord==0.6.0
defusedxml==0.7.1
dill==0.3.8
distro==1.7.0
dlinfo==2.0.0
dm-tree==0.1.9
docopt==0.6.2
entrypoints==0.4
etils==1.12.2
exceptiongroup==1.1.3
executing==2.0.1
fastjsonschema==2.18.1
fief-client==0.20.0
filelock==3.9.0
flatbuffers==25.2.10
flax==0.7.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.2.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.39.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
greenlet==3.2.0
grpcio==1.71.0
h11==0.14.0
h5py==3.13.0
httpcore==1.0.8
httplib2==0.20.2
httpx==0.27.2
huggingface-hub==0.30.2
hypothesis==6.131.1
idna==3.4
importlib-metadata==4.6.4
importlib_resources==6.5.2
ipykernel==6.26.0
ipython==8.17.2
ipython-genutils==0.2.0
ipywidgets==8.1.1
isodate==0.7.2
isoduration==20.11.0
jax==0.4.13
jaxlib==0.4.13
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.4.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter-archive==3.4.0
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.9.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter_client==7.4.9
jupyter_core==5.5.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
jwcrypto==1.5.6
kagglehub==0.3.11
kenlm @ git+https://github.com/ydshieh/kenlm@78f664fb3dafe1468d868d71faf19534530698d5
keras==2.15.0
keras-core==0.1.7
keras-nlp==0.12.1
kernels==0.4.4
keyring==23.5.0
language-tags==1.2.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
llvmlite==0.44.0
lxml==4.9.3
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.3
multiprocess==0.70.16
namex==0.0.8
nbclassic==1.0.0
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.0
nltk==3.9.1
notebook==6.5.5
notebook_shim==0.2.3
num2words==0.5.14
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu11==8.7.0.84
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.0.4
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==12.570.86
nvidia-nccl-cu11==2.19.3
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.0
onnx==1.17.0
onnxconverter-common==1.13.0
opt_einsum==3.4.0
optax==0.1.4
optuna==4.3.0
orbax-checkpoint==0.5.16
overrides==7.4.0
packaging==23.2
panda==0.3.1
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
phonemizer==3.3.0
pillow==11.2.1
platformdirs==3.11.0
pooch==1.8.2
prometheus-client==0.18.0
prompt-toolkit==3.0.39
propcache==0.3.1
protobuf==3.20.3
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.21
pyctcdecode==0.5.0
Pygments==2.16.1
PyGObject==3.42.1
pygtrie==2.5.0
PyJWT==2.3.0
pynvml==12.0.0
pyparsing==2.4.7
pypng==0.20220715.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2025.2
PyYAML==6.0.1
pyzmq==24.0.1
questionary==2.1.0
qwen-vl-utils==0.0.8
RapidFuzz==3.13.0
ray==2.44.1
rdflib==7.1.4
referencing==0.30.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==14.0.0
rouge==1.0.1
rpds-py==0.12.0
rsa==4.9.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.12.0
SecretStorage==3.3.1
segments==2.3.0
Send2Trash==1.8.2
sentencepiece==0.2.0
shellingham==1.5.4
sigopt==8.8.3
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.5
soxr==0.5.0.post1
SQLAlchemy==2.0.40
stack-data==0.6.3
sympy==1.13.1
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.15.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-text==2.15.0
tensorstore==0.1.73
termcolor==2.3.0
terminado==0.17.1
tf2onnx==1.16.1
tf_keras==2.15.1
threadpoolctl==3.6.0
timm==1.0.11
tinycss2==1.2.1
tokenizers==0.21.1
tomli==2.0.1
toolz==1.0.0
torch==2.6.0+cu126
torchaudio==2.6.0+cu126
torchvision==0.21.0+cu126
tornado==6.3.3
tqdm==4.67.1
traitlets==5.13.0
transformers==4.51.3
triton==3.2.0
typer==0.15.2
types-python-dateutil==2.8.19.14
typing_extensions==4.12.2
tzdata==2025.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.13
wadllib==1.3.6
wcwidth==0.2.9
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.1.3
widgetsnbextension==4.0.9
wrapt==1.14.1
xxhash==3.5.0
yarl==1.20.0
yaspin==3.1.0
zipp==1.0.0
